USE [master]
GO
/****** Object:  Database [ProjetoGama]    Script Date: 15/11/2020 02:59:08 ******/
CREATE DATABASE [ProjetoGama]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoGama', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjetoGama.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoGama_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjetoGama_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoGama].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoGama]
GO
/****** Object:  Table [dbo].[ACTOR]    Script Date: 15/11/2020 02:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTOR](
	[ActorId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Racking] [int] NOT NULL,
	[Sex] [char](1) NOT NULL,
	[SalaryHour] [money] NOT NULL,
 CONSTRAINT [PK_ACTOR] PRIMARY KEY CLUSTERED 
(
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTOR_GENRE]    Script Date: 15/11/2020 02:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTOR_GENRE](
	[ActorGenreId] [int] IDENTITY(1,1) NOT NULL,
	[ActorId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_ACTOR_GENRE] PRIMARY KEY CLUSTERED 
(
	[ActorGenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 15/11/2020 02:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GENRE] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCER]    Script Date: 15/11/2020 02:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCER](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCER] PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 15/11/2020 02:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PROFILE] PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVATION]    Script Date: 15/11/2020 02:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATION](
	[ReservationId] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[ActorId] [int] NOT NULL,
 CONSTRAINT [PK_RESERVATION] PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 15/11/2020 02:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Password] [nvarchar](100) NULL,
	[ProfileID] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACTOR]  WITH CHECK ADD  CONSTRAINT [FK_ACTOR_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([UserId])
GO
ALTER TABLE [dbo].[ACTOR] CHECK CONSTRAINT [FK_ACTOR_USER]
GO
ALTER TABLE [dbo].[ACTOR_GENRE]  WITH CHECK ADD  CONSTRAINT [FK_ACTOR_ACTOR_GENRE] FOREIGN KEY([ActorId])
REFERENCES [dbo].[ACTOR] ([ActorId])
GO
ALTER TABLE [dbo].[ACTOR_GENRE] CHECK CONSTRAINT [FK_ACTOR_ACTOR_GENRE]
GO
ALTER TABLE [dbo].[ACTOR_GENRE]  WITH CHECK ADD  CONSTRAINT [FK_GENRE_ACTOR_GENRE] FOREIGN KEY([GenreId])
REFERENCES [dbo].[GENRE] ([GenreId])
GO
ALTER TABLE [dbo].[ACTOR_GENRE] CHECK CONSTRAINT [FK_GENRE_ACTOR_GENRE]
GO
ALTER TABLE [dbo].[PRODUCER]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCER_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([UserId])
GO
ALTER TABLE [dbo].[PRODUCER] CHECK CONSTRAINT [FK_PRODUCER_USER]
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVATION_ACTOR] FOREIGN KEY([ActorId])
REFERENCES [dbo].[ACTOR] ([ActorId])
GO
ALTER TABLE [dbo].[RESERVATION] CHECK CONSTRAINT [FK_RESERVATION_ACTOR]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_PROFILE] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[PROFILE] ([ProfileId])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_PROFILE]
GO
ALTER TABLE [dbo].[ACTOR]  WITH CHECK ADD  CONSTRAINT [CK_ACTOR_RACKING] CHECK  (([Racking]>=(0) AND [Racking]<=(5)))
GO
ALTER TABLE [dbo].[ACTOR] CHECK CONSTRAINT [CK_ACTOR_RACKING]
GO
ALTER TABLE [dbo].[ACTOR]  WITH CHECK ADD  CONSTRAINT [CK_ACTOR_SALARYHOUR] CHECK  (([SalaryHour]>(0)))
GO
ALTER TABLE [dbo].[ACTOR] CHECK CONSTRAINT [CK_ACTOR_SALARYHOUR]
GO
ALTER TABLE [dbo].[ACTOR]  WITH CHECK ADD  CONSTRAINT [CK_ACTOR_SEX] CHECK  (([Sex]='F' OR [Sex]='M'))
GO
ALTER TABLE [dbo].[ACTOR] CHECK CONSTRAINT [CK_ACTOR_SEX]
GO
USE [master]
GO
